* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}

body, input, textarea, button, select {
  color: #111;
  font-size: 18px;
  font-family: 'Open Sans';
}

#root {
  padding: 50px;

  h2 {
    text-align: center;
  }

  p {
    margin-top: 20px;
    text-align: center;
  }

  .boardWrapper {
    margin-top: 30px;
    &:after {
      content: '';
      clear: both;
      display: table;
    }

    .boardLeft {
      width: 50%;
      float: left;
      padding-right: 30px;

      .board {
        float: right;
        user-select: none;
        position: relative;

        .square {
          position: absolute;
        }

        .piece {
          cursor: pointer;
          position: absolute;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .possibleMove {
          z-index: 2;
          position: absolute;
          &:after {
            top: 30%;
            left: 30%;
            width: 40%;
            height: 40%;
            content: '';
            border-radius: 50%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .boardRight {
      width: 50%;
      float: left;
      padding-left: 30px;

      .selectedPiece {
      }

      .defaultCoordinates {
        margin-top: 30px;
        font-family: Menlo, monospace;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 48px;
}
h2 {
  font-size: 32px;
  line-height: 32px;
}

textarea {
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  &:focus {
    border-color: #000;
  }
}
